#head,
.logo,
.dropdown-item{
    color: #fff;
}
#main-menu,
.main-menu-item:hover,
.main-menu-btn:hover,
#settings,
.one-tab:hover,
.one-tab.active,
.tab-context-btn:hover{
    color: #fff;
}
.logo,
.main-menu-toggle:hover,
.side-bar-item:hover,
.dropdown-item:hover{
    background-color: #e08e0b;
}
.one-img:hover{
    color: #e08e0b;
}
.logo:hover{
    background-color: #db8b0b;
}
.head-bar,
.dropdown-item{
    background-color: #f39c12;
}
.main-menu-item:after{
    border-color: #f39c12;
}
#main-menu-bg,
.main-menu-panel,
#settings,
.one-tab.active,
.one-tab:hover.active,
.toggle-sub-menu,
.tab-context-btn{
    background-color: #222d32;
}
.main-menu-head {
    color: #4b646f;
}
.main-menu-head,
.one-tab,
.tab-context-btn:hover{
    background-color: #1a2226;
}
.main-menu-item,
.main-menu-btn,
.one-tab,
.tab-context-btn{
    color: #b8c7ce;
}
.main-menu-item:hover,
.main-menu-item:hover .toggle-sub-menu,
.main-menu-panel:hover,
.one-tab:hover{
    background-color:#1e282c;
}
.sub-menu,
.sub-menu .toggle-sub-menu{
    background-color: #2c3b41;
}
::-webkit-scrollbar {
    background-color: rgba(243, 156, 18, 0.3);
}
::-webkit-scrollbar:hover {
    background-color: rgba(243, 156, 18, 0.5);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(26, 34, 38, 0.3);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(26, 34, 38, 0.5);
}